<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::section})}">

<section class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Providers</h1>
    </div>
    <div class="card shadow mb-4 col-lg-6" style="padding: 10px">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block card-header py-3"
           role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Provider list</h6>
        </a>
        <table id="providers_table" class="table table-striped table-bordered">

            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            <tr th:each="provider:${providers}">

                <td th:text="${provider.name}">Name</td>
                <td>
                    <button class="btn btn-success"><i class="fa fa-edit"></i> Edit</button>
                    <button class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                </td>
            </tr>
            </thead>

        </table>
    </div>


</section>

</html>