<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::section})}">
<section class="container-fluid" th:fragment="content">
    <div th:if="${message}" th:text="${message}" class="alert alert-success"/>
    <div class="card shadow mb-4 col-lg-6" style="padding: 10px">
        <form action="#" method="post" th:action="@{/deploy/optimize/check}">
            <div class="form-group">
                <label for="vms">Select servers to optimize</label>
                <select class="form-control" required="required" name="vms" id="vms" multiple>
                    <option th:each="vm : ${vms}" th:value="${vm.id}" th:text="${vm.name}"></option>
                </select>
            </div>
            <button id="check" class="btn btn-success" href="/deploy/optimize/check">Check optimization</button>
        </form>
    </div>
</section>
</html>