<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="sidebar">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fab fa-docker"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Container Management</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li id="dashboard" class="nav-item active"><a class="nav-link" href="/"> <i
                class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">Applications</div>
        
        
            <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="far fa-object-group"></i>
          <span>Application</span>
        </a>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Functions</h6>
            <a class="collapse-item" href="/regapp">Register Application</a>
            <a class="collapse-item" href="/applicationList">All Applications</a>
            <a class="collapse-item" href="/runapp">Running Applications</a>
          </div>
        </div>
      </li>
        
        <!-- <li id="create-app" class="nav-item"><a class="nav-link" href="/regapp"> <i class="far fa-object-group"></i>
            <span>Create Application</span></a></li>
        <li id="run-app" class="nav-item"><a class="nav-link" href="/runapp"> <i class="fas fa-object-ungroup"></i>
            <span>Running Applications</span></a></li> -->
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">Deployments</div>
        <li id="app-deploy" class="nav-item">
            <a class="nav-link" href="/deployapp"> <i class="fas fa-dolly-flatbed"></i>
            <span>Deploy Application</span></a>
        </li>
        <li id="app-optimize" class="nav-item">
            <a class="nav-link" href="/deploy/optimize"> <i class="fas fa-tachometer-alt"></i>
                <span>Optimize Containers</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">VMs & Providers</div>
        <li id="vms" class="nav-item"><a class="nav-link" href="/vms/view"> <i class="fa fa-server"></i>
            <span>Servers</span></a></li>
        <li id="providers" class="nav-item"><a class="nav-link" href="/providers/view"> <i class="fas fa-layer-group"></i>
            <span>Providers</span></a></li>
        <!-- Divider -->
        <hr sec:authorize="hasAuthority('USER')" class="sidebar-divider">
        <!-- Heading -->
        <div sec:authorize="hasAuthority('USER')" class="sidebar-heading">Users</div>
        <li sec:authorize="hasAuthority('USER')" id="users" class="nav-item"><a class="nav-link" href="/user/list"> <i class="fa fa-user"></i>
            <span>List users</span></a></li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
</div>
</html>
