<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar">
	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fab fa-docker"></i>
			</div>
			<div class="sidebar-brand-text mx-3">Container Management</div>
		</a>
		<!-- Divider -->
		<hr class="sidebar-divider my-0">
		<!-- Nav Item - Dashboard -->
		<li id="dashboard" class="nav-item active"><a class="nav-link" href="/"> <i
				class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
		<!-- Divider -->
		<hr class="sidebar-divider">
		<!-- Heading -->
		<div class="sidebar-heading">Application</div>
		<li id="create-app" class="nav-item"><a class="nav-link" href="regapp"> <i class="far fa-object-group"></i>
		 <span>Create Application</span></a></li>
		<li id="run-app" class="nav-item"><a class="nav-link" href="runapp"> <i class="fas fa-object-ungroup"></i>
		 <span>Running Applications</span></a></li>
		<!-- Divider -->
		<hr class="sidebar-divider">
		<!-- Heading -->
		<div class="sidebar-heading">Deployments</div>
		<li id="app-deploy" class="nav-item"><a class="nav-link" href="deployapp"> <i class="fas fa-dolly-flatbed"></i>
		 <span>Deploy Application</span></a></li>
		<hr class="sidebar-divider">
		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>
	</ul>
	<!-- End of Sidebar -->
</div>
</html>
