<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout(~{::section})}">
<section class="container-fluid" th:fragment="content">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Deploy Application</h1>
	</div>
	<!-- Basic Card Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Applications available for deployment</h6>
		</div>
		<div class="card-body">
			<div th:if="${message}" th:text="${message}" class="alert alert-success" />
			<div th:if="${delMessage}" th:text="${delMessage}" class="alert alert-danger" />
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Name</th>
							<th>Docker URL</th>
							<th>Memory</th>
							<th>CPU</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="appList: ${regApplication}">
							<td th:text="${appList.name}"></td>
							<td th:text="${appList.registryImageUrl}"></td>
							<td th:text="${appList.cpu}"></td>
							<td th:text="${appList.memory}"></td>
							<td>
								<form class="user" method="post" action="#" th:object="${deploymentVo}"
									th:action="@{|/deploy/${appList.Id}|}">
									<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
										<div th:errors="*{numDeployments}"></div>
										<div th:errors="*{allocation}"></div>
									</div>
									<div class="form-group">
										<label for="provider">Select Virtual Machine</label> <select class="form-control"
											required="required" name="providerId" id="provider" th:value="${deploymentVo.vmIds}"
											th:field="*{vmIds}" multiple>
											<option value="selectVM" disabled="disabled" selected="selected">-- Select a VM
												--</option>
											<option th:each="vms : ${availableVms}" th:value="${vms.id}" th:text="${vms.name}"></option>
										</select>
									</div>
									<div class="form-group">
										<label for="provider">Select Algorithm</label> <select class="form-control"
											required="required" name="deploymnetType" id="deploymnetType"
											th:value="${deploymentVo.deploymentType}" th:field="*{deploymentType}">
											<option value="deploymentType" disabled="disabled" selected="selected">-- Select
												a Algorithm--</option>
											<option th:each="type : ${availableTypes}" th:value="${type.getCode()}"
												th:text="${type.name()}"></option>
										</select>
									</div>
									<div class="form-group">
										<label for="count">No. of deployments</label>
										<input type="number" class="form-control" id="count" required
											   placeholder="No. of deployments for this application" th:field="*{numDeployments}">
									</div>
									<input id="submitDeployment" type="submit" class="btn btn-success" value="Deploy">
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
</html>